.wrapper {
  display: inline-flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: stretch;
}
.col {
  border: 1px dotted lightgrey;
  padding: 1rem;
  margin-bottom: 1.5rem;
}
.halfCol {
  composes: col;
  flex: 1 0 50%;
}
.halfCol:first {
  padding-right: 2rem;
}
.fullCol {
  composes: col;
  flex: 0 0 100%;
}
.thirdCol {
  composes: col;
  flex: 1 0 33%;
}
.twoThirdCol {
  composes: col;
  flex: 2 0 66%;
}
@media (max-width: 600px) {
  .wrapper {
    display: block;
  }
  .halfCol {
    width: 100%;
  }
}
